.field-form {
  margin: 24xp 0;
}

.field-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
}

.field-form input {
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.field-form-color input {
  padding: 5px 24px;
  height: 40px;
}
